.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper .swiper-wrapper {
  height: 100dvh;
}

.nav-btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.nav-btn.prev {
  left: 20px;
}

.nav-btn.next {
  right: 20px;
}
