.about-section {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.about-section .title {
  font-size: 2rem;
}

.about-section .description {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.about-section .social-link {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.about-section .social-link li {
  display: inline-block;
  margin-right: 10px;
}

.about-section .social-link li a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.about-section .social-link li a img {
  width: 100%;
  height: 100%;
}
