.gallery-view-container {
  column-width: calc((100vw - 130px) / 3);
  column-gap: 20px;
  margin: 35px;
}

.gallery-view-container .card {
  width: 100%;
  margin-bottom: 20px;
  break-inside: avoid;
  background-color: aqua;
  display: flex;
}

.gallery-view-container .card img {
  width: 100%;
  height: auto;
}
